parameters:
    level: 8
    paths:
        - src
        - bin
    tmpDir: /tmp/phpstan
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            identifier: missingType.iterableValue
