<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">../src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Unit">
      <directory>./Unit/SchemaKeeper</directory>
    </testsuite>
    <testsuite name="Integration">
      <directory>./Integration/SchemaKeeper</directory>
    </testsuite>
    <testsuite name="Acceptance">
      <directory>./Acceptance/SchemaKeeper</directory>
    </testsuite>
  </testsuites>
  <groups>
    <exclude>
      <group>ignore</group>
    </exclude>
  </groups>
  <php>
    <ini name="display_errors" value="On"/>
    <ini name="display_startup_errors" value="On"/>
  </php>
</phpunit>
